body{
	margin:0;
	padding:0;
	background-color:rgb(230,230,230);
	font-family:"Meiryo";
	font-size:14px;
}

h2,h3{
	margin:8px 0;
	padding:0 6px;
	border-left:solid 5px #3F51B5;
	border-bottom:solid 2px #3F51B5;
}

hr{
	border:none;
	background-color:gray;
	height:1px;
}

a{
    color:#3F51B5;
    text-decoration:none;
}

a:hover{
	opacity:0.7;
}

#Header img{
	width:100%;
}

#HeaderDesc{
	background-color:transparent;
	font-size:22px;
}

#Wrap{
	width:80%;
	margin:auto;
	padding:12px;
	background-color:rgb(250,250,250);
}

#Navi img{
	padding:10px 0;
}