*{
	margin:0;
	padding:0;
	background-color:rgb(248,248,248);
	font-family:"Meiryo";
}

h2,h3{
	margin:8px 0;
	padding:0 6px;
	border-left:solid 5px navy;
	border-bottom:solid 2px navy;
}

hr{
	border:none;
	background-color:gray;
	height:1px;
}

a{
    color:gray;
    text-decoration:none;
}

a:hover{
	color:rgb(80,80,80);
}

#Header img{
	width:100%;
}

#HeaderDesc{
	background-color:transparent;
	font-size:22px;
}

#wrap,#Navi{
	width:80%;
	margin:auto;
}

#Navi{
	padding:12px 0;
}

#Navi img{
	height:50px;
}