body{
	margin:0;
	padding:0;
	background-color:rgb(230,230,230);
	font-family:"Meiryo";
	font-size:14px;
}

h2,h3{
	margin:8px 0;
	padding:0 6px;
	border-left:solid 5px navy;
	border-bottom:solid 2px navy;
}

hr{
	border:none;
	background-color:gray;
	height:1px;
}

a{
    color:gray;
    text-decoration:none;
}

a:hover{
	color:rgb(80,80,80);
}

#Header img{
	width:100%;
}

#HeaderDesc{
	background-color:transparent;
	font-size:22px;
}

#Wrap{
	width:80%;
	margin:auto;
	padding:12px;
	background-color:rgb(250,250,250);
}

#Navi img{
	width:14%;
	padding:20px 0;
}